body {

    background-color: rgb(110, 179, 196);
}

.wrapper {   
height: 420px;
width: 654px;
margin: 50px auto;
border-radius: 7px 7px 7px 7px;
-webkit-box-shadow: 0px 14px 32px rgba(0,0,0,0,.15);
-moz-box-shadow: 0px 14px 32px 0px rgba(0,0,0,0,.15);
box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.15);
}


.produtoimagem{
float: left; 
height: 420px;
width: 327;
border-radius: 7px 0 0 7px;
background-color: aquamarine;

}
.produtoimagem{
    float: left; 
    height: 420px;
    width: 327;
    border-radius: 7px 0 0 7px;
    background-color: aquamarine;
}

.chevettetexto h1{

height: 10px;
width: 327px;

}

.produtotexto h1 
.botaopreco p {

font-family:'benthman', serif;


}

.produtotexto h2{

margin: 0 0  47px 38px;
font-size: 13px;
font-family: 'releway', sans-serif;
font-weight: 400;
text-transform: uppercase;
color: aqua;


}

.produtotexto p{

height: 225px;
padding-bottom: 100px;
margin: 0 0 47px 38px;
font-family: 'Playfair Display', serif ;
color: blue;
line-height: 1.7em;
font-size: 15px;
font-weight: lighter;
overflow: hidden;

}

    .botaopreco{

height: 103px;
padding-right: 50px;
width: 327px;
margin-top: 50px;
position: absolute;


    }


.botaopreco p{

display: inline-block;
position: relative;
top: -10px;
height: 50px;
font-family: 'Trocchi' serif;
margin: 0 0 0 50px;
font-size: 20px;
font-weight: lighter;
color: rgb(6, 32, 32);

}

span{

display: inline-block;
height: 110px;
margin: auto;
font-family: 'Suranna', serif;
font-size: 30px;


}

.botaopreco button{

float: right;
display: inline-block;
height: 50px;
width: 176px;
margin: 0 60px 0 16px;
box-sizing: border-box;
border: transparent;
border-radius: 60px;
font-family: 'releway', sans-serif;
font-size: 14px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 0.2em;
color: rgb(3, 6, 7);
background-color: rgb(82, 122, 134);
cursor:pointer;
outline: none;

}

.botaopreco button:hover {
background-color: rgb(228, 238, 228);



}














